.nav{
    width: 100%;
    margin: auto;
    padding: 1em;
    position: fixed;
    top: 0;  
    background: linear-gradient(300deg,rgba(98, 0, 111, 0.8), rgba(1, 0, 1, 1));  
    
}
.navUl{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    text-decoration: none;
}
.navItem{
    flex: 1;
    font-family: "Inter-Bold", "Inter", sans-serif;
    font-weight: 600;
    text-decoration: none;
    

}
.navItem:nth-child(2){
    flex: 3;
    align-items: stretch;
}
.navItem:nth-child(3){
    justify-content: flex-end;
}
/* Contact Icon */
.rightItem{
    justify-self: flex-end;
    align-self: right;
    text-align: right;
    flex-direction: row;
    font-family: "Inter-Bold", "Inter", sans-serif;
    font-weight: 600;
    
    
}
.li{
    list-style: none;
    background: linear-gradient(300deg,rgba(226, 99, 243, 0.8), rgba(1, 0, 1, 0.8));
    color: transparent;
    box-shadow:  2px 1px 0 #66ffb2, 1px 2px 4px 0 #66ffb2;
    padding: 8px 16px;
    border-radius: 50px;
}

